$borderColor: #EAEAEA;
$hoverColor: #F9F9F9;
$orange: #D9A300;
$lightOrange: #E59524;
$lightOrange10: #FF9326;
$lightOrange20: #F99D20;
$lightOrange30: #FDFAF0;
$lightOrange40: #F4E3B2;
$orange10: #D16600;
$orange20: #E09900;
$yellowDeep: #ffc107;
$yellow: #F2D700;
$darkYellow: #F7D246;
$lightYellow10: #FFFFCC;
$lightYellow20: #fbfb83;
$greenLime: #cddc39;
$stmsGreen: #5aba47;
$stmsGreen10: #38A938;
$stmsGreen20: #339833;
$stmsGreen30: #51A740;
$darkStmsGreen: #45894d;
$grassGreen: #A9D96C;
$green: #669933;
$green10: #336600;
$darkCyan: #266268;
$darkCyan05: #1F5156;
$darkCyan20: #1B464A;
$darkCyan30: #265F66;
$darkCyanOpacity50: #8AB6BA;
$darkerCyan10: #003333;
$darkerCyan: #033236;
$lightCyan: #59C7E8;
$turquoise: #6CCBC3;
$cyanGray: #669999;
$blue: #03aaf4;
$blue10: #4DA6FF;
$blue20: #2B88E6;
$blue30: #00A3D9;
$blue40: #003399;
$lightBlue: #D4E0E1;
$lightBlue10: #E1F5FE;
$lightBlue20: #e9eff0;
$lightBlue30: #81D4FA;
$lightBlue40: #58ade0;
$lightBlue50: #7CB5EC;
$lightBlue60: #DAF3F5;
$grayCyan30: #D3DFE1;
$lightGray: #acacac;
$lightGray10: #aaaaaa;
$lightGray20: #B2C1C2;
$lightGray30: #bebebe;
$lightGray40: #a9a9a9;
$lightGray50: #bbbbbb;
$superLightGray: #f2f2f2;
$superLightGray05: #999999;
$superLightGray10: #e4e4e4;
$superLightGray20: #d4d4d4;
$superLightGray30: #DFDFDF;
$superLightGray40: #E8EFF0;
$superLightGray50: #EAEAEA;
$superLightGray60: #EBEBEB;
$superLightGray70: #cccccc;
$superLightGray80: #F4F4F4;
$superLightGray85: #F1F0F5;
$superLightGray90: #DBDBDB;
$superLightGray95: #DCE1E7;
$superLightGray100: #F8F8F8;
$superLightGray105: #EEEEEE;
$superLightGray110: #f9f9f9;
$gray: #666666;
$darkGray: #616161;
$gray20: #DDDDDD;
$white: #FFFFFF;
$red: #ff0000;
$red10: #B20000;
$red20: #C51825;
$red30: #E32433;
$red40: #B11622;
$red50: #CC202E;
$red60: #D80000;
$red70: #D90000;
$red80: #cc0000;
$redError: #D20000;
$lightRed: #FF6A63;
$pinkRed: #EB344E;
$pinkRed10: #D52F46;
$black: #333333;
$lightBeige: #FCF8E3;
$darkBeige: #E6D0A1;
$lightBrown: #8A6C3A;
$lightPink: #FF80FF;
$inputBorderBottom: rgba(#000, 0.12);
$cyan50: #DFE8E8;
$cyan100: #BED0D2;
$cyan200: #9DB8BB;
$cyan300: #5C898E;
$cyan400: #46797E;
$cyan500: $darkCyan;
$cyan600: #235B61;
$cyan700: #205359;
$cyan800: #1B4449;
$cyan900: #153639;
$selectedButton: #E0E5EA;
$countBadge: #ecbc02;
$primary: #335373;
$transparent: transparent;
$sampleBackground: #f4f4f4;
$alertInformationText: #206C75;
$alertAttentionText: #926945;
$alertAttentionBackground: #FFF2d8;
$st-default-color-shade: 500;
$st-default-divider-color-hue: A700;
$gridCellBorder: #e0e0e0;
$scrollColor: #f1f1f1;

// Dashboard colors
$darkYellow10: #ecbc02;
$darkGreen10: #458b01;
$lightCyan10: #0EA6D9;

// Pathology colors
$sampleColor: #FFCBFF;
$blockColor: #BEFFBE;
$slideColor: #A5F0F0;
$sampleBackgroundColor: #FFF3FF;
$blockBackgroundColor: #EFFFEF;
$slideBackgroundColor: #E8FBFB;
$agGridBlack: rgba(0, 0, 0, 0.87);

// Tube colors
$darkGreen: #B3DAB6;
$magenta: #D0417E;
$brown: #964B00;
$superLightBlue: #7FB8F7;
$lightGreen: #A2D989;
$superLightCyan10: #AAEAFD;
$lightMagenta: #EEBBD1;
$lightYellow: #EDEA80;
$pink: #F1C7F2;
$gray10: #8E8E8E;
$darkBlack: #000000;
$lightRed20: #DFAEAE;
$azure: #A4F2F4;
$purple: #B871B5;
$blueGray: #1DA0CE;
$orangeGold: #F4C78C;
$rust: #B7410E;
$beige: #E4E4A1;

// Message type colors
$messageBlue: #00698C;
$messageGreen: $stmsGreen;
$messageCyan: #4DA6FF;
$messageDarkRed: #D80000;
$messageMagenta: #D065AE;
$messageBrown: #ECBC02;
$messageLightGray: #999999;
$messageDarkGray: #666666;
$messageLightBlue: #68ACC2;
$messageLightGreen: #8BCF7E;
$messageLightCyan: #82C1FF;
$messageLightRed: #EA7373;
$messageLightMagent: #DE93C6;
$messageYellow: #D9D900;

// Comment colors
$commentBlack: #333333;
$commentBlue: #1DA0CE;
$commentGreen: #A2D989;
$commentCyan: #4DA6FF;
$commentDarkRed: #8D060A;
$commentMagenta: #B871B5;
$commentBrown: #964B00;
$commentLightGray: #ACACAC;
$commentDarkGray: #616161;
$commentLightBlue: #58ade0;
$commentLightGreen: #B3DAB6;
$commentLightCyan: #82C1FF;
$commentLightRed: #EA7373;
$commentLightMagenta: #DE93C6;
$commentYellow: #EDEA80;
$commentWhite: #FFFFFF;

// Priority colors
$priorityBlack: #333333;
$priorityBlue: #1DA0CE;
$priorityGreen: #A2D989;
$priorityCyan: #4DA6FF;
$priorityDarkRed: #8D060A;
$priorityMagenta: #B871B5;
$priorityBrown: #964B00;
$priorityLightGray: #ACACAC;
$priorityDarkGray: #616161;
$priorityLightBlue: #58ade0;
$priorityLightGreen: #B3DAB6;
$priorityLightCyan: #82C1FF;
$priorityLightRed: #EA7373;
$priorityLightMagenta: #DE93C6;
$priorityYellow: #EDEA80;
$priorityWhite: #FFFFFF;
