<mat-sidenav-container [class.labmd]="isLabmdTheme">
<!-- <mat-sidenav-container [class.labmd]="isLabmdTheme" style="zoom:3"> -->

  <mat-sidenav #sidenav mode="over" class="st-sidenav" color="primary">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Settings</span>
        <span class="st-toolbar-filler"></span>
        <mat-icon class="example-icon">build</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-button (click)="this.toggleTheme()" class="st-sidebar-button">TOGGLE THEME</button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Account</span>
        <span class="st-toolbar-filler"></span>
        <mat-icon class="example-icon">account_circle</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="accent" class="st-sidebar-button">
          <mat-icon class="example-icon">verified_user</mat-icon>
          Login
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <span>Favorites</span>
        <span class="st-toolbar-filler"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
      </mat-toolbar-row>

      <mat-toolbar-row>
        <button mat-raised-button color="warn" class="st-sidebar-button">
          <mat-icon class="example-icon">delete</mat-icon>
          Delete
        </button>
      </mat-toolbar-row>

    </mat-toolbar>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button mat-button class="st-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons">menu</i>
    </button>
    <span class="title">STMS Angular Material Theme: <strong>{{this.isLabmdTheme ? 'LabMD' : 'LabOS'}}</strong></span>
  </mat-toolbar>

  <div class="st-content st-example">
    <!-- Material Button -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Button</h2>
        <h4>Flat button</h4>
        <div>
          <button class="st-button" mat-flat-button>Default</button>
          <button class="st-button" mat-flat-button><mat-icon>android</mat-icon>With icon</button>
        </div>

        <h4>Primary button</h4>
        <div>
          <button class="st-button" mat-button color="primary">Default</button>
          <button class="st-button" mat-button color="primary"><mat-icon >done</mat-icon>With icon</button>
          <button class="st-button" mat-button color="primary" disabled>Disabled</button>
        </div>

        <h4>Accent button</h4>
        <div>
          <button class="st-button" mat-button color="accent">Default</button>
          <button class="st-button" mat-button color="accent"><mat-icon >done</mat-icon>With icon</button>
          <button class="st-button" mat-button color="accent" disabled>Disabled</button>
        </div>
        <h4>Warn button</h4>
        <div>
          <button class="st-button" mat-button color="warn">Default</button>
          <button class="st-button" mat-button color="warn"><mat-icon >done</mat-icon>With icon</button>
          <button class="st-button" mat-button color="warn" disabled>Disabled</button>
        </div>
        <h4>Stroked button</h4>
        <div>
          <button class="st-button" mat-stroked-button>Default</button>
          <button class="st-button" mat-stroked-button><mat-icon>add</mat-icon>With icon</button>
          <button class="st-button" mat-stroked-button disabled>Disabled</button>
        </div>
        <h5>Sizes</h5>
        <div>
          <button class="st-button large" mat-stroked-button>Large</button>
          <button class="st-button" mat-stroked-button>Default</button>
          <button class="st-button small" mat-stroked-button>Small</button>
          <button class="st-button x-small" mat-stroked-button>X-small</button>
        </div>
        <h4>Square / round button (.large, default, .small, .x-small)</h4>  
        <div><!-- square -->
          <button class="st-square-button large" mat-stroked-button><mat-icon>add</mat-icon></button>
          <button class="st-square-button" mat-stroked-button><mat-icon>add</mat-icon></button>
          <button class="st-square-button small" mat-stroked-button><mat-icon>add</mat-icon></button>
          <button class="st-square-button x-small" mat-stroked-button><mat-icon>add</mat-icon></button>
        </div><br/>
        <div><!-- round -->
          <button class="st-round-button large" mat-stroked-button ><mat-icon>search</mat-icon></button>
          <button class="st-round-button" mat-stroked-button ><mat-icon>search</mat-icon></button>
          <button class="st-round-button small" mat-stroked-button ><mat-icon>search</mat-icon></button>
          <button class="st-round-button x-small" mat-stroked-button ><mat-icon>search</mat-icon></button>
        </div>
        <h4>Menu button</h4>
        <div class="st-menu-button">
          <!-- Primary button -->
          <button class="st-button" mat-stroked-button><mat-icon>print</mat-icon>With menu</button>
          <!-- Menu button + menu items -->
          <button class="st-button more-actions" mat-stroked-button (click)="buttonMenuTrigger.toggleMenu()">
            <mat-icon>expand_more</mat-icon>
          </button>
          <mat-menu #buttonMenu="matMenu" [overlapTrigger]="false" xPosition="after">
            <button mat-menu-item>
              <span>Some action</span>
            </button>
            <button mat-menu-item disabled>
              <span>Some disabled action</span>
            </button>
            <button mat-menu-item>
              <span>The third very very very long action</span>
            </button>
          </mat-menu>
          <!-- Trigger div to make the menu open under the button -->
          <div class="st-visibility-hidden" [matMenuTriggerFor]="buttonMenu" #buttonMenuTrigger="matMenuTrigger"></div>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- /Material Button -->

    <!-- Material Chip List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Chips</h2>
        <mat-chip-list>
          <mat-chip 
          *ngFor="let chipColor of availableColors" 
          selected="false" 
          color="{{chipColor.color}}">{{chipColor.name}}<mat-icon matChipRemove>close</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <h3 class="example-h3">Inside input</h3>
        <st-chip-input></st-chip-input>
      </mat-card-content>
    </mat-card>
    <!-- /Material Chip List -->

    <!-- Material Checkbox -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Checkbox</h2>
        <h3 class="example-h3">Horizontal</h3>
         <div class="st-flex-row">
          <mat-checkbox color="warn">Unchecked warn</mat-checkbox>
          <mat-checkbox [checked]="true">Checked accent</mat-checkbox>
          <mat-checkbox [indeterminate]="true" color="primary">Indeterminate primary</mat-checkbox>
          <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
         </div>
        <h3 class="example-h3">Vertical</h3>
         <div class="st-flex-column">
          <mat-checkbox color="warn">Unchecked warn</mat-checkbox>
          <mat-checkbox [checked]="true">Checked accent</mat-checkbox>
          <mat-checkbox [indeterminate]="true" color="primary">Indeterminate primary</mat-checkbox>
          <mat-checkbox [disabled]="true">Disabled</mat-checkbox>
         </div>
      </mat-card-content>
    </mat-card>
    <!-- /Material Checkbox -->

    <!-- Material Radio Button -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Radio Button</h2>
        <h3 class="example-h3">Horizontal</h3>
        <div class="st-flex-row">
          <mat-radio-button name="symbol" color="primary">Primary</mat-radio-button>
          <mat-radio-button name="symbol">Accent</mat-radio-button>
          <mat-radio-button name="symbol" disabled>Disabled</mat-radio-button>
        </div>
        <h3 class="example-h3">Vertical</h3>
        <div class="st-flex-column">
          <mat-radio-button name="symbol" color="primary">Primary</mat-radio-button>
          <mat-radio-button name="symbol">Accent</mat-radio-button>
          <mat-radio-button name="symbol" disabled>Disabled</mat-radio-button>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- /Material Radio Button -->

    <!-- Material Input -->
    <mat-card class="st-input-section">
      <mat-card-content>
        <h2 class="example-h2">Material Input</h2>
        <mat-form-field>
          <input matInput placeholder="Plain input" />
        </mat-form-field>
        <mat-form-field>
          <input matInput #nickname placeholder="Max-length" maxlength="10" />
          <mat-hint align="end">
            {{nickname.value.length}} / 10
          </mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-icon matPrefix class="st-input-icon" color="primary">android</mat-icon>
          <input matInput placeholder="With prefix icon">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="With suffix icon">
          <mat-icon matSuffix class="st-input-icon" color="primary">search</mat-icon>
          <mat-icon matSuffix class="st-input-icon" color="primary">add</mat-icon>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="Numeric">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" placeholder="Date">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="time" placeholder="Time">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="datetime-local" placeholder="Datetime-local">
        </mat-form-field>
        <h3 class="example-h3">Validation</h3>
        <st-form></st-form>
      </mat-card-content>
    </mat-card>
    <!-- /Material Input -->

    <!-- Material Select -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Select</h2>
        <mat-form-field>
          <mat-select [disableOptionCentering]="true" 
                       placeholder="Favorite game" 
                       [(ngModel)]="selectedValue" 
                       name="game" 
                       panelClass="st-select"> <!-- panel class is optional -->
            <mat-option class="st-select-reset" color="primary">None</mat-option>
            <mat-option *ngFor="let game of games" [value]="game.value">
              {{game.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected value: {{selectedValue}} </p>

      </mat-card-content>
    </mat-card>
    <!-- /Material Select -->

    <!-- Material List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material List</h2>
        <mat-list class="st-list">
          <mat-list-item *ngFor="let food of foods">
            <h3 mat-line>{{food.name}}</h3>
            <p mat-line class="demo-secondary-text">{{food.rating}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
    <!-- /Material List -->

    <!-- Material Grid List -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Grid List</h2>
        <mat-grid-list cols="4" rowHeight="100px">
          <mat-grid-tile class="grid-test-1" *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <!-- /Material Grid List -->

    <!-- Material Spinner -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Progress spinner configuration</h2>

        <section class="example-section">
          <label>Color:</label>
          <mat-radio-group [(ngModel)]="color">
            <mat-radio-button value="primary" color="primary">
              Primary
            </mat-radio-button>
            <mat-radio-button value="accent" color="primary">
              Accent
            </mat-radio-button>
            <mat-radio-button value="warn" color="primary">
              Warn
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section">
          <label>Mode:</label>
          <mat-radio-group [(ngModel)]="mode">
            <mat-radio-button value="determinate" color="primary">
              Determinate
            </mat-radio-button>
            <mat-radio-button value="indeterminate" color="primary">
              Indeterminate
            </mat-radio-button>
          </mat-radio-group>
        </section>

        <section class="example-section" *ngIf="mode === 'determinate'">
          <label>Progress:</label>
          <mat-slider [(ngModel)]="value" color="primary"></mat-slider>
        </section>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content class="example-spinners">
        <h2 class="example-h2">Result</h2>
        <div class="st-flex-column">
          <div class="st-flex-row">
            <div>Diameter: 32px</div>
            <mat-progress-spinner [diameter]="32" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
          </div>
        </div>
        <div class="st-flex-row">
          <div>Diameter: 48px</div>
          <mat-progress-spinner [diameter]="48" [color]="color" [mode]="mode" [value]="value"></mat-progress-spinner>
        </div>
      </mat-card-content>
    </mat-card>
    <!-- /Material Spinner -->

    <!-- Material Progress Bar -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Progress Bar</h2>
        <label>
          Indeterminate progress-bar
          <mat-progress-bar class="st-progress" mode="indeterminate" aria-label="Indeterminate progress-bar example"></mat-progress-bar>
        </label>
        <label>
          Determinate progress bar - {{progress}}%
          <mat-progress-bar class="st-progress" color="accent" mode="determinate" [value]="progress" aria-label="Determinate progress-bar example"></mat-progress-bar>
        </label>
      </mat-card-content>
    </mat-card>
    <!-- /Material Progress Bar -->

    <!-- Material Tab -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Tab</h2>
        <mat-tab-group class="st-tabs">
          <mat-tab label="XYZ">
            <p>This tab has a short title to show that the default minimal width is enough</p>
          </mat-tab>
          <mat-tab label="Air Nomads">
            <p>The Air Nomads were a civilization composed of people who practiced the art of airbending. While nomadic, Air
              Nomads did inhabit four major air temples, each built on remote locations, only easily reachable with flying
              bison. The Air Nomads were a highly spiritual group of people.</p>
          </mat-tab>
          <mat-tab label="Water Tribe">
            <p>The Water Tribe is a collective term for people, some of whom practice the art of waterbending, who follow a
              government system in the form of a tribal chiefdom. Although members of the Water Tribe typically inhabit the
              polar regions, the North Pole and the South Pole, there is a small population of waterbenders who inhabit the
              Foggy Swamp in Earth Kingdom territory. The two main tribes are the Northern Water Tribe at the North Pole
              and the Southern Water Tribe at the South Pole.</p>
          </mat-tab>
          <mat-tab label="Earth Kingdom">
            <p>The Earth Kingdom is a massive continent led by an earth monarch and is home to people who practice the art of
              earthbending. Being the largest of the four nations, it is ethnically diverse with a variance of customs and
              cultural traditions. The people of the Earth Kingdom are strong and persistent. The geography of the Earth
              Kingdom varies tremendously, ranging from wooded forests to blazing deserts, mountainous terrain, and grassy
              plains.
            </p>
          </mat-tab>
          <mat-tab label="Fire Nation">
            <p>The Fire Nation is home to people who practice the art of firebending and is an absolute monarchy led by the
              Fire Lord. Being composed of several major islands and located on the equator, the nation is considered to
              be an archipelago. Its economy is the largest and most powerful in the world with a strong industrial sector
              and advanced technological developments. The climate is normally humid and warm which allows for a diversity
              of flora and fauna to thrive.</p>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
    <!-- /Material Tab -->

    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Icons</h2>
        <mat-icon color="primary">build</mat-icon>
        <mat-icon color="primary">android</mat-icon>
      </mat-card-content>
    </mat-card>

    <!-- Material Slider -->
    <mat-card class="st-input-section">
      <mat-card-content>
        <h2 class="example-h2">Material Slider :: Configuration</h2>

        <section class="example-section">
          <mat-form-field>
            <input matInput type="number" placeholder="Value" [(ngModel)]="slider.value">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Min value" [(ngModel)]="slider.min">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Max value" [(ngModel)]="slider.max">
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Step size" [(ngModel)]="slider.step">
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.showTicks">Show ticks</mat-checkbox>
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.autoTicks" *ngIf="slider.showTicks">
            Auto ticks
          </mat-checkbox>
          <mat-form-field *ngIf="slider.showTicks && !slider.autoTicks">
            <input matInput type="number" placeholder="Tick interval" [(ngModel)]="slider.tickInterval">
          </mat-form-field>
        </section>

        <section class="example-section">
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.thumbLabel">Show thumb label</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.checked">Checked</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.vertical">Vertical</mat-checkbox>
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.invert">Inverted</mat-checkbox>
        </section>

        <section class="example-section">
          <mat-checkbox class="st-checkbox" color="primary" [(ngModel)]="slider.disabled">Disabled</mat-checkbox>
        </section>
      </mat-card-content>

      <mat-card-content>
        <h2 class="example-h2">Slider Result</h2>
        <mat-slider color="primary" [disabled]="slider.disabled" [invert]="slider.invert" [max]="slider.max" [min]="slider.min"
          [step]="slider.step" [thumbLabel]="slider.thumbLabel" [tickInterval]="slider.tickInterval" [value]="slider.value"
          [vertical]="slider.vertical">
        </mat-slider>
      </mat-card-content>

      <mat-card-content>
        <h2 class="example-h2">Slider Toggle Result</h2>
        <mat-slide-toggle color="primary" [disabled]="slider.disabled" [checked]="slider.checked" (change)="slider.checked = !slider.checked">Slide me!</mat-slide-toggle>
      </mat-card-content>

    </mat-card>
    <!-- /Material Slider -->

    <!-- Material Menu -->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Menu</h2>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="after">
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>help_outline</mat-icon>
            <span>Help center</span>
          </button>
          <button mat-menu-item>
            <mat-icon>storage</mat-icon>
            <span>Resources</span>
          </button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
    <!-- /Material Menu-->

    <!-- Material Dialog-->
    <mat-card>
      <mat-card-content>
        <h2 class="example-h2">Material Dialog</h2>
        <p>Last dialog result: {{lastDialogResult}}</p>
        <button class="st-button" mat-button color="accent" (click)="openDialog()">DIALOG</button>
        <button color="primary" mat-button (click)="showSnackbar()">SNACKBAR</button>
      </mat-card-content>
    </mat-card>
    <!-- /Material Dialog-->
    <!-- Material Fab - not used-->
    <button mat-fab color="primary" class="st-fab">
        <div (click)="this.toggleTheme()">TOGGLE THEME</div>
    </button>
    <button mat-fab color="accent" class="st-fab direction">
        <div (click)="this.toggleDirection()">{{this.isRtl ? 'RTL' : 'LTR'}}</div>
    </button>
    <!-- /Material Fab-->
  </div>
</mat-sidenav-container>
