// @import "~@angular/material/theming";
@import "assets/styles/theme/_index.scss";
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker hue.
@import "assets/styles/theme/palettes/labos.scss";
@import "assets/styles/theme/palettes/labmd.scss";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$stms-typography: mat-typography-config(
  $font-family: "Open Sans", 
  $headline: mat-typography-level(14px, 1.42857, 700), 
  $body-1: mat-typography-level(14px, 1.42857, 400), 
  $input: mat-typography-level(14px, 1.42857, 400));


////////EXPERIMENTAL////////

// How to: https://material.angular.io/guide/typography
// This file should be edited as described in https://material.angular.io/guide/theming-your-components
// Good blog post: https://blog.thoughtram.io/angular/2017/05/23/custom-themes-with-angular-material.html


// Name	          CSS classes	                      Description
// -------------------------------------------------------------------------
// display-4	    .mat-display-4	                  Large, one-off header, usually at the top of the page (e.g. a hero header).
// display-3  	  .mat-display-3	                  Large, one-off header, usually at the top of the page (e.g. a hero header).
// display-2	    .mat-display-2	                  Large, one-off header, usually at the top of the page (e.g. a hero header).
// display-1	    .mat-display-1	                  Large, one-off header, usually at the top of the page (e.g. a hero header).
// headline	      .mat-h1, .mat-headline	          Section heading corresponding to the <h1> tag.
// title	        .mat-h2, .mat-title	              Section heading corresponding to the <h2> tag.
// subheading-2	  .mat-h3, .mat-subheading-2	      Section heading corresponding to the <h3> tag.
// subheading-1	  .mat-h4, .mat-subheading-1	      Section heading corresponding to the <h4> tag.
// body-2	        .mat-body-strong, .mat-body-2	    Bold body text.
// body-1	        .mat-body, .mat-body-1	          Base body text.
// caption	      .mat-small, .mat-caption	        Smaller body and hint text.
// button	        None. Used only in components.	  Buttons and anchors.
// input	        None. Used only in components.	  Form input fields.
// -------------------------------------------------------------------------
$general-typography: mat-typography-config(
  $font-family: '"Open Sans", "Helvetica Neue", "Arial", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(24px, 32px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 18px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(10px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
    // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(14px, 1.3, 400)
);

////////////////////////////



// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// @include mat-core($stms-typography);
@include mat-core($general-typography);

// Typography overrides or definitions where angular material failed to do so
@include st-body-typography($general-typography);
@include st-form-typography($general-typography);
@include st-radio-button-typography($general-typography);
@include st-text-typography($general-typography);
@include st-list-typography($general-typography);

// Instead of creating a theme with mat-light-theme like a sane person, 
// we will create our own theme-creating function that lets us apply our own 
// foreground and background palettes.
@function st-theme-custom($primary, $accent, $warn, $foreground-palette, $background-palette) {
  @return (primary: mat-palette($primary), 
           accent: mat-palette($accent), 
           warn: mat-palette($warn), 
           is-dark: false, 
           foreground: $foreground-palette, 
           background: $background-palette);
}

@mixin st-theme($theme) {
  @include angular-material-theme($theme);
  @include st-icon-theme($theme);
  @include st-body-theme($theme);
  @include st-toolbar-theme($theme);
  @include st-list-theme($theme);
  @include st-progress-theme($theme);
  @include st-radio-button-theme($theme);
  @include st-menu-theme($theme);
  @include st-button-theme($theme);
  @include st-select-theme($theme);
  @include st-autocomplete-theme($theme);
  @include st-dialog-theme($theme);
  @include st-checkbox-theme($theme);
  @include st-side-menu-theme($theme);
  @include st-text-theme($theme);
  @include st-input-theme($theme);
  @include st-textarea-theme($theme);
  @include st-form-theme($theme);
  @include st-grid-theme($theme);
  @include st-tabs-theme($theme);
}

// $st-palette: mat-palette($st-palette-labos);

// Background and Foreground palettes for both themes.
$st-labmd-background: (status-bar: mat-color($st-labmd-primary-palette, $st-default-color-shade), app-bar: mat-color($st-labmd-primary-palette, $st-default-color-shade), background: #FFFFFF, hover: #F9F9F9, card: #FFFFFF, dialog: #FFFFFF, card-hover: #F8F8F8, disabled-button: rgba(black, 0.12), raised-button: #FFFFFF, focused-button: $dark-focused, selected-button: rgba(51, 83, 115, 0.15), selected-disabled-button: map_get($mat-grey, 400), disabled-button-toggle: map_get($mat-grey, 200), unselected-chip: map_get($mat-grey, 300), disabled-list-option: map_get($mat-grey, 200));
$st-labmd-foreground: (base: #333333, divider: $dark-dividers, dividers: $dark-dividers, disabled: $dark-disabled-text, disabled-button: rgba(black, 0.26), disabled-text: $dark-disabled-text, hint-text: $dark-disabled-text, secondary-text: $dark-secondary-text, icon: mat-color($st-labmd-primary-palette, $st-default-color-shade), icons: mat-color($st-labmd-primary-palette, $st-default-color-shade), text: #333333, slider-min: rgba(black, 0.87), slider-off: rgba(black, 0.26), slider-off-active: rgba(black, 0.38));
$st-labos-background: (status-bar: mat-color($st-labos-primary-palette, $st-default-color-shade), app-bar: mat-color($st-labos-primary-palette, $st-default-color-shade), background: #FFFFFF, hover: #F9F9F9, card: #FFFFFF, dialog: #FFFFFF, card-hover: #F8F8F8, disabled-button: rgba(black, 0.12), raised-button: #FFFFFF, focused-button: $dark-focused, selected-button: rgba(51, 83, 115, 0.15), selected-disabled-button: map_get($mat-grey, 400), disabled-button-toggle: map_get($mat-grey, 200), unselected-chip: map_get($mat-grey, 300), disabled-list-option: map_get($mat-grey, 200));
$st-labos-foreground: (base: #333333, divider: $dark-dividers, dividers: $dark-dividers, disabled: $dark-disabled-text, disabled-button: rgba(black, 0.26), disabled-text: $dark-disabled-text, hint-text: $dark-disabled-text, secondary-text: $dark-secondary-text, icon: mat-color($st-labos-primary-palette, $st-default-color-shade), icons: mat-color($st-labos-primary-palette, $st-default-color-shade), text: #333333, slider-min: rgba(black, 0.87), slider-off: rgba(black, 0.26), slider-off-active: rgba(black, 0.38));

// Option #1: Defining  themes - using our custom function
$st-labmd-theme: st-theme-custom($st-labmd-primary-palette, $st-labmd-accent-palette, $st-labmd-warn-palette, $st-labmd-foreground, $st-labmd-background);
$st-labos-theme: st-theme-custom($st-labos-primary-palette, $st-labos-accent-palette, $st-labos-warn-palette, $st-labos-foreground, $st-labos-background);

// Option #2: Defining  themes - using built-in function
// $st-labmd-theme: mat-light-theme($st-labmd-primary-palette, $st-labmd-accent-palette, $st-labmd-warn-palette);
// $st-labos-theme: mat-light-theme($st-labos-primary-palette, $st-labos-accent-palette, $st-labos-warn-palette);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include st-theme($st-labos-theme);
.labmd {
  @include st-theme($st-labmd-theme);
}