@import "~@angular/material/theming";
@import 'core/general';

/*
// TODO: This file is deprecated, migrate it to "src/assets/styles/components/button".

@mixin st-button-theme-definition($backgroundColor, $backgroundColorHover, $borderColor, $borderColorHover, $textColor) {
  background-color: $backgroundColor;
  border-color: $borderColor;
  color: $textColor;
  &:hover {
    background-color: $backgroundColorHover !important;
  }
  mat-icon, i {
    color: $textColor !important;
  }
}

@mixin st-button-disable-theme-definition($backgroundColor, $borderColor, $textColor) {
  background-color: $backgroundColor !important;
  color: $textColor !important;
  &:hover {
    background-color: $backgroundColor !important;
    border-color: $borderColor !important;
  }
}

@mixin st-button-focused-theme-definition($backgroundColor, $textColor) {
  background-color: $backgroundColor !important;
  color: $textColor !important;
}

// default buttons
@mixin st-button-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $appColor: mat-color($primary, $st-default-color-shade);
  $appColor10: mat-color($primary, 100);
  $appColor20: mat-color($primary, 200);
  $appColor30: mat-color($primary, 300);
  $appColor700: mat-color($primary, 700);
  $divider: mat-color($primary, $st-default-divider-color-hue);
  $buttonBackground: mat-color($background, background);



  // default buttons styling
  .st-default-button {
    @include st-button-theme-definition($buttonBackground, mat-color($primary, A400), $divider, $divider, $appColor);
  }
  .st-default-button.mat-focused {
    @include st-button-focused-theme-definition($buttonBackground, $appColor);
  }
  .st-default-button[disabled] {
    @include st-button-disable-theme-definition($buttonBackground, $divider, $appColor);
  }
  .st-default-button.mat-button {
    border-color: $divider;
  }

  // primary buttons styling
  .st-primary-button {
    @include st-button-theme-definition($appColor, $appColor700, mat-color($primary, 600), $appColor20, $buttonBackground);
  }
  .st-primary-button[disabled] {
    @include st-button-disable-theme-definition($appColor, $appColor20, $buttonBackground);
  }
  .st-primary-button.mat-focused {
    @include st-button-focused-theme-definition($appColor, $buttonBackground);
  }

  // perform buttons styling
  .st-perform-button {
    @include st-button-theme-definition(mat-color($accent, 500), mat-color($accent, 800), mat-color($accent, 700), mat-color($accent, 900), $buttonBackground);
  }
  .st-perform-button[disabled] {
    @include st-button-disable-theme-definition(mat-color($accent, 500), mat-color($accent, 800), $buttonBackground);
  }
  .st-perform-button.mat-focused {
    @include st-button-focused-theme-definition(mat-color($accent, 500), $buttonBackground);
  }

  // perform buttons styling
  .st-warn-button {
    @include st-button-theme-definition(mat-color($warn, 900), mat-color($warn, 600), mat-color($warn, 600), mat-color($warn, 900), $buttonBackground);
  }
  .st-warn-button[disabled] {
    @include st-button-disable-theme-definition(mat-color($warn, 900), mat-color($warn, 600), $buttonBackground);
  }
  .st-warn-button.mat-focused {
    @include st-button-focused-theme-definition(mat-color($warn, 900), $buttonBackground);
  }


  // group buttons
  .st-group-buttons {
    mat-button {
      mat-icon.mat-18 {
        color: $appColor;
      }
    }
  }

  // link buttons
  .st-link {
    &:hover {
      color: $appColor700 !important;
      mat-icon {
        color: $appColor700 !important;
      }
    }
  }

  mat-button-toggle.mat-button-toggle-checked {
    .mat-button-toggle-label-content {
      background-color: $appColor;
      mat-icon {
        color: $buttonBackground !important;
        &:hover {
          color: $buttonBackground !important;
        }
      }
    }
  }
}


////////////////////////////////////////

@import 'core/general';

// TODO: This file is deprecated, migrate it to "src/assets/styles/components/button".

// TODO: Review this:
button {
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  border-radius: 3px;
  text-decoration: none;
}

button .mat-18 {
  vertical-align: -5px;
  margin-right: 5px;
}

mat-button-toggle {
  .mat-button-toggle-label-content{
    padding: 0 14px;
    height: 100%;
  }
}

//// stms buttons builds ////
.st-button {
  line-height: 25px;
  position: relative;
  border-width: $borderBaseSize;
  border-style: solid;
  .mat-button-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    span {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  mat-icon, i {
    line-height: 14px;
  }

  mat-icon.mat-18 {
    width: 18px;
    height: 18px;
    font-size: 18px !important;
  }
  &[disabled] {
    @extend .st-button-disable;
  }
}
.st-button-disable {
  opacity: 0.4;
  cursor: default;
}
// button types
.st-circle-button {
    border-radius: 50% !important;
    width: 40px !important;
    margin-left: (2 * $baseSpacing) !important;
    min-width: 40px !important;
    height: 40px !important;
    padding-top: 8px;
    padding-left: 10px;

    mat-icon {
      text-align: right;
    }
  }
.st-expand-button {
    padding: 0 4px 0 4px !important;
    height: 19px !important;
    line-height: 19px !important;
    min-height: 0 !important;
    min-width: 0 !important;
    margin-right: 0 !important;

    mat-icon, i {
      margin-top: 0 !important;
    }
  }
.st-x-small-button {
    height: 24px;
    line-height: 24px;
    padding-left: 3 * $baseSpacing;
    font-size: 13px;
  }
.st-small-button {
    height: 30px;
    min-height: 30px;
    line-height: 30px;
  }
.st-large-button {
    height: 44px;
    line-height: 44px;
    padding-left: 4 * $baseSpacing;
    padding-right: 3 * $baseSpacing;
  }

// default buttons styling
.st-default-button {
  @extend .st-button;
  padding-right: 12px;
  padding-left: 12px;
  .mat-button-wrapper {
    justify-content: center !important;
  }
  mat-icon.mat-18 {
    width: 18px;
    height: 18px;
  }
}
.st-default-button.mat-button {
  border-width: $borderBaseSize;
  border-style: solid;
}
.st-default-button.st-x-small {
  @extend .st-x-small-button;
}
.st-default-button.st-small {
  @extend .st-small-button;
}
.st-default-button.st-large {
  @extend .st-large-button;
}
.st-default-button.st-expand {
  @extend .st-expand-button;
}
.st-default-button.st-circle {
  @extend .st-circle-button;
}
.st-default-button.st-link {
  @extend .st-link;
}
.st-default-button.st-link-icon {
  @extend .st-link;
  @extend .st-link-icon-button;
}

// primary buttons styling
.st-primary-button {
  @extend .st-button;
}
.st-primary-button[disabled] {
  @extend .st-button-disable;
}
.st-primary-button.st-x-small {
  @extend .st-x-small-button;
}
.st-primary-button.st-small {
  @extend .st-small-button;
}
.st-primary-button.st-large {
  @extend .st-large-button;
}
.st-primary-button.st-expand {
  @extend .st-expand-button;
}
.st-primary-button.st-circle {
  @extend .st-circle-button;
}

// perform buttons styling
.st-perform-button {
  @extend .st-button;
}
.st-perform-button.st-x-small {
  @extend .st-x-small-button;
}
.st-perform-button.st-small {
  @extend .st-small-button;
}
.st-perform-button.st-large {
  @extend .st-large-button;
}
.st-perform-button.st-expand {
  @extend .st-expand-button;
}
.st-perform-button.st-circle {
  @extend .st-circle-button;
}

// perform buttons styling
.st-warn-button {
  @extend .st-button;
}
.st-warn-button.st-x-small {
  @extend .st-x-small-button;
}
.st-warn-button.st-small {
  @extend .st-small-button;
}
.st-warn-button.st-large {
  @extend .st-large-button;
}
.st-warn-button.st-expand {
  @extend .st-expand-button;
}
.st-warn-button.st-circle {
  @extend .st-circle-button;
}


// group buttons
.st-group-buttons {
  margin-left: 2 * $baseSpacing;

  mat-button {
    padding-left: 5px !important;
    padding-right: 5px !important;
    border-radius: 3px 0 0 3px !important;
    min-width: 80px;
    min-height: 36px;
    &:hover {
      cursor: pointer;
    }

    span {
      min-width: 30px;
      text-align: center;
      display: inline-block;
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    mat-icon.mat-18 {
      font-size: 18px;
      width: 18px;
      height: 18px;
    }

    mat-icon.mat-24 {
      font-size: 24px;
      width: 24px;
    }

    &:first-child {
      border-radius: 3px 0 0 3px !important;
    }

    &:last-child {
      border-radius: 0 3px 3px 0 !important;
      border-left-width: 1px;
    }
  }

  .st-icon-button {
    padding: 4px (2 * $baseSpacing);
  }

  .st-icon-button.st-primary-button[disabled] {
    opacity: 1;
    cursor: pointer;
  }

  .st-menu-button {
    mat-icon {
      font-size: 18px !important;
      width: 18px;
      height: 18px;
    }
    padding: 0 5px;
    mat-icon {
      padding-top: 2px;
    }
  }
}
.st-group-buttons.st-large-group-buttons {
  .mat-button {
    mat-icon {
      font-size: 24px;
      width: 24px;
      height: 18px;
    }
  }
}
.st-group-buttons.text-only {
  .mat-button {
    min-width: 80px;
  }
}

// link buttons
.st-link {
  background: transparent;
  border: 0;
  margin-left: 0;

  &:hover {
    background: transparent !important;
  }

  mat-icon {
    padding: 2px;
  }
}
.st-link-icon-button {
  width: 24px;
  min-width: 24px;
  height: 24px;
  padding: 0 !important;

  mat-icon {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
  }
}

.st-borderless-button {
  border: none !important;
}
.st-transparent-button {
  background-color: transparent !important;
}
.st-text-button {
  @extend .st-borderless-button;
  @extend .st-transparent-button;
  &:hover, .mat-button-focus-overlay {
    @extend .st-borderless-button;
    @extend .st-transparent-button;
  }
}

st-action-bar {
  .st-primary-button {
    border: none !important;
    width: 80px !important;
  }
}



////////
// @import '~@angular/material/_theming.scss';

.st-button {
  border-radius: 5px !important;
  font-family: 'Open Sans';
  color: #266268;
  font-weight: 600 !important;
  cursor: pointer;
  outline: none;
  margin-right: 10px !important;
  &:last-child {
    margin-right: 0px !important;
  }
  &.mat-stroked-button {
    border: 1px solid #dcdcdc !important;
  }
  &.mat-flat-button {
    text-decoration: underline;
  }
  &.mat-primary {
    background-color: #266268;
    color: #ffffff;
  }
  &.mat-accent {
    background-color: #5aba47;
    color: #ffffff;
  }
  mat-icon {
    margin-left: -4px; // pull icons over the padding for buttons that start with icon
  }
}

.labmd .st-button {
  color: #335373;
  &.mat-primary {
    background-color: #335373;
    color: #ffffff;
    font-weight: 600;
  }
    &.mat-accent {
    color: #ffffff;
  }
}

.st-menu-button {
  display: inline-block;
  .st-button {
    margin: 0 !important;
    &:not(.more-actions) {
      border-right: none !important;
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
      .mat-icon {
        padding-right: 5px;
      }
    }
    &.more-actions {
      border-left: 1px solid #efefef !important;
      padding: 0 !important;
      min-width: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
      mat-icon {
        margin: 0; // override icon pull
      }
    }
  }
}

// crappy code because we won't be using this one
.st-fab {
  position: fixed !important;
  bottom: 20px;
  right: 20px;
  white-space: pre-wrap !important;
  font-size: 11px !important;
  color: #fefefe;
  font-weight: bold !important;
  .mat-button-wrapper {
    padding: 15px 5px 5px 6px !important;
    opacity: .5;
    line-height: 14px !important;
  }
}

*/


/*
// @mixin st-button-theme-definition($backgroundColor, $backgroundColorHover, $borderColor, $borderColorHover, $textColor) {
//   background-color: $backgroundColor;
//   border-color: $borderColor;
//   color: $textColor;
//   &:hover {
//     background-color: $backgroundColorHover !important;
//   }
//   mat-icon, i {
//     color: $textColor !important;
//   }
// }
*/
@mixin st-button-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $appColor: mat-color($primary, $st-default-color-shade);
  $buttonBackground: mat-color($background, background);
  // $warn: map-get($theme, warn);
  // $appColor10: mat-color($primary, 100);
  // $appColor20: mat-color($primary, 200);
  // $appColor30: mat-color($primary, 300);
  // $appColor700: mat-color($primary, 700);
  // $divider: mat-color($primary, $st-default-divider-color-hue);

/*
  // // General button rules
  // .mat-button, .mat-stroked-button, .mat-flat-button, .mat-raised-button {
  //   border-radius: 5px !important;
  //   font-family: 'Open Sans';
  //   font-weight: 600 !important;
  //   cursor: pointer;
  //   outline: none;
  //   margin-right: 10px !important;
  //   color: mat-color($primary);
  //   &:last-child {
  //     margin-right: 0px !important;
  //   }
  //   mat-icon {
  //     margin-left: -4px; // pull icons over the padding for buttons that start with icon
  //     line-height: 1.4em;
  //   }
  // }
  // // Specific button rules
  // button {
  //   &.mat-stroked-button {
  //     border: 1px solid #dcdcdc !important;
  //   }
  //   &.mat-flat-button {
  //     text-decoration: underline;
  //   }
  //   &.mat-primary {
  //     background-color: mat-color($primary);
  //     color: #ffffff !important; // check why !important is needed
  //   }
  //   &.mat-accent {
  //     background-color: mat-color($accent) !important;
  //     color: #ffffff !important; // check why !important is needed
  //   }
  // }
  // // labmd overrides ???
  // .labmd button{
  //   color: mat-color($primary) !important;
  //   font-weight: 600;
  //   &.mat-primary {
  //     background-color: mat-color($primary) !important;
  //     color: #ffffff !important;
  //   }
  //   &.mat-accent {
  //     color: #ffffff !important;
  //   }
  // }

  */

  button {
    // General rules
    &.mat-button,  
    &.mat-stroked-button, 
    &.mat-raised-button, 
    &.mat-flat-button {
      font-weight: 600;
      color: $appColor;
      min-width: 30px;
      mat-icon {
        line-height: 24px;
      }
      &:not(:last-child) {
          margin-right: 15px;
      }
    }
    // Specific rules
    &.mat-flat-button {
      padding: 0 5px;
    }
    &.mat-button.mat-primary {
      background: mat-color($primary);
      background-color: mat-color($primary);
      color: #ffffff;
    }
    &.mat-button.mat-accent {
      background-color: mat-color($accent);
      color: #ffffff;
    }
    &.st-oval-button {
      height: 26px;
      min-width: auto;
      line-height: 24px;
      font-size: 12px;
      color: $gray;
      border-radius: 13px !important;
      border-color: $superLightGray70;
      padding: 0 10px;
    
      &:hover {
        background-color: $superLightGray;
      }
    
      .mat-button-wrapper {
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  // Should be in its own component so we have view encapsulation and NO !important
  .st-menu-button {
    display: inline-block;
    button {
      margin: 0 !important;
      &:not(.more-actions) {
        border-right: none !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        .mat-icon {
          padding-right: 5px;
        }
      }
      &.more-actions {
        border-left: 1px solid #efefef !important;
        padding: 0 !important;
        min-width: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        mat-icon {
          line-height: 24px;
        }
      }
    }
  }

  // Crappy code because we won't be using this one
  .st-fab {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    white-space: pre-wrap !important;
    font-size: 11px !important;
    color: #fefefe;
    font-weight: bold !important;
    z-index: 999999;
    .mat-button-wrapper {
      padding: 15px 5px 5px 6px !important;
      opacity: .5;
      line-height: 14px !important;
    }
    &.direction {
      right: 80px;
    }
  }
}