@import "~@angular/material/theming";
@import 'core/general';

/*
// @mixin st-button-theme-definition($backgroundColor, $backgroundColorHover, $borderColor, $borderColorHover, $textColor) {
//   background-color: $backgroundColor;
//   border-color: $borderColor;
//   color: $textColor;
//   &:hover {
//     background-color: $backgroundColorHover !important;
//   }
//   mat-icon, i {
//     color: $textColor !important;
//   }
// }
*/

@mixin st-button-theme($theme) {
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $appColor: mat-color($primary, $st-default-color-shade);
  $buttonBackground: mat-color($background, background);
  // $warn: map-get($theme, warn);
  // $appColor10: mat-color($primary, 100);
  // $appColor20: mat-color($primary, 200);
  // $appColor30: mat-color($primary, 300);
  // $appColor700: mat-color($primary, 700);
  // $divider: mat-color($primary, $st-default-divider-color-hue);

  button {
    // General rules
    &.mat-button,  
    &.mat-stroked-button, 
    &.mat-raised-button, 
    &.mat-flat-button {
      font-weight: 600;
      color: $appColor;
      min-width: 30px;
      mat-icon {
        line-height: 24px;
      }
      &:not(:last-child) {
          margin-right: 15px;
      }
    }
    // Specific rules
    &.mat-flat-button {
      padding: 0 5px;
    }
    &.mat-button.mat-primary {
      background: mat-color($primary);
      background-color: mat-color($primary);
      color: #ffffff;
    }
    &.mat-button.mat-accent {
      background-color: mat-color($accent);
      color: #ffffff;
    }
    &.st-oval-button {
      height: 26px;
      min-width: auto;
      line-height: 24px;
      font-size: 12px;
      color: $gray;
      border-radius: 13px !important;
      border-color: $superLightGray70;
      padding: 0 10px;
    
      &:hover {
        background-color: $superLightGray;
      }
    
      .mat-button-wrapper {
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
  // Should be in its own component so we have view encapsulation and NO !important
  .st-menu-button {
    display: inline-block;
    button {
      margin: 0 !important;
      &:not(.more-actions) {
        border-right: none !important;
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        .mat-icon {
          padding-right: 5px;
        }
      }
      &.more-actions {
        border-left: 1px solid #efefef !important;
        padding: 0 !important;
        min-width: 0 !important;
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        mat-icon {
          line-height: 24px;
        }
      }
    }
  }

  // Crappy code because we won't be using this one
  .st-fab {
    position: fixed !important;
    bottom: 20px;
    right: 20px;
    white-space: pre-wrap !important;
    font-size: 11px !important;
    color: #fefefe;
    font-weight: bold !important;
    z-index: 999999;
    .mat-button-wrapper {
      padding: 15px 5px 5px 6px !important;
      opacity: .5;
      line-height: 14px !important;
    }
    &.direction {
      right: 80px;
    }
  }
}