@import "~@angular/material/theming";

@mixin st-select-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  mat-select:focus:not(.mat-select-disabled) .mat-select-arrow {
    color: mat-color($primary, $st-default-color-shade) !important;
  }
  select:-webkit-autofill {
    /* due to Chrome user agent definitions that override the above definitions*/
    color: mat-color($foreground, text);
    background-color: mat-color($background, background);
  }

  .mat-select:focus:not(.mat-select-disabled).mat-primary .mat-select-trigger {
    color: mat-color($foreground, text) !important;
  }

  mat-option.mat-selected {
    color: mat-color($foreground, text) !important;
  }
}


///////////////////////////////////////////////////////////////////////////////////////////

.mat-select-value-text {
  font-size: 14px;
}

.mat-select-panel {
  margin-top: 26px;
}

.cdk-overlay-pane {
  transform: none !important ;
}

.mat-select-underline {
  bottom: 1px !important;
}

.mat-select-value, .mat-select-value {
  top: 0px !important;
  width: 100% !important;
  justify-content: left;
  font-size: 14px !important;
}

.mat-select-value-text, .mat-select-trigger {
  font-size: 14px !important;
}

.mat-select-arrow {
  height: 15px !important;
  margin-top: 5px !important;
}

.st-list-line {
  .mat-select-trigger, .mat-select-trigger {
    border-bottom: none !important;
  }
  .mat-select-underline {
    position: relative !important;
  }
  .mat-select-arrow {
    margin-top: 0px !important;
  }
}


.st-list-line {
  .mat-select-trigger {
    border-bottom: none !important;
  }
}

.st-list-line {
  mat-select:focus:not(.mat-select-disabled) {
    .mat-select-trigger {
      border-bottom: none !important;
    }
  }
}

//for schedule printer
mat-select:not(:focus) {
  &.gray-border {
    .mat-select-trigger {
      border-bottom: 1px solid gray !important;
      color: black !important;
    }
    .mat-select-arrow {
      color: black !important;
    }
  }
}

.st-select-without-underline {
  .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 0px;
  }
  .mat-form-field-appearance-legacy .mat-form-field-ripple {
    height: 0px;
  }
}
